# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# YOLOv5 output folders
runs/
*.pt
*.cache

# Dataset (too large)
../marine_debris/
marine_debris/

# OS files
.DS_Store
Thumbs.db

